.listContainer {
  margin-top: 8em;
  display: block;
  columns: 300px;
  gap: 1rem;
}

@media only screen and (max-height: 767px) and (orientation: landscape) {
  .listContainer {
    margin-top: 5rem;
  }
}