.card {
  position: relative;
  transition: 0.1s ease-in;
  margin: 0 1em 1em;
  break-inside: avoid;
}

.image {
  display: block !important;
  border-radius: 5px;
}

.card:hover .image {
  filter: grayscale(100%);
}

.metaContainer {
  visibility: hidden;
  display: none;
  transition: 0.3s ease-in;
}

.card:hover .metaContainer {
  z-index: 1;
  display: block;
  width: 100%;
  visibility: visible;
  color: white;
  padding: 0 1em;
  bottom: 20px;
  position: absolute;
  font-size: 14px;
}

.card:hover::after {
  content: '';
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.metaContainer div {
  float: right;
  display: inline;
}

.description {
  margin: 0.5em 0;
  font-family: cursive, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}